.Heading{
    text-align:center;
    
    text-decoration: #0f0f0f underline;
    padding:10px;
}


.form-label{
 
    font-size:30px;
    text-align:center;
    margin-top:230px;
   
   
}

.form-label-first{
    
    font-size:30px;
    text-align:center;
    margin-top:100px;
   
   
}


.form-check-label{
    font-size: 20px;
    margin-left:9px;
}


.btn-next{
    margin-top:80px;
    padding: 15px 100px;
    margin-bottom:30px;
    /* background-color:rgba(72, 114, 161, 0.199); */
    
    border: 2px solid rgba(5, 5, 5, 0.623) ;
    color:black;
    font:30px;
    font-weight: bolder;
    transition: all 0.1 ease;
    box-shadow: -2px -2px 5px rgb(250, 249, 249),
    1px 1px 6px rgba(0, 0, 0, 0.541);
    background:rgb(250, 249, 249);




}

.btn-infoo{
    margin-top:0px !important;
    border: transparent !important;
    margin-bottom:0px !important;
    background-color:rgba(255, 255, 255, 0.281) !important;
    padding: 10px 50px !important;
    font-weight: bold !important;
    box-shadow: -2px -3px 3px rgba(253, 254, 255, 0.473), 
    4px 4px 6px rgba(0, 0, 0, 0.767) !important;

    color:black !important;
   
}


.btn-next:focus, .btn-next:hover{
    
    background: rgba(29, 99, 156, 0.404);
}



.spl{
    
    margin-bottom:50px;

}

.form-control{
    width: 600px;
    height:60px;
    border-radius:10px;
    border-color:transparent;
    box-shadow: -2px -2px 5px rgb(250, 249, 249),
    1px 1px 6px rgba(0, 0, 0, 0.541);
    background:rgb(250, 249, 249);



}
.btn-infoo:focus, .btn-infoo:active, .btn-infoo:hover{
    background: rgba(86, 86, 146, 0.548);
    color:rgba(0, 0, 0, 0.534);
}

.sub-label{
    color:grey;
    margin-bottom:50px;

}

.touched{
    background-color:rgba(72, 114, 161, 0.199);
    color:white;
}


/* DISABLED FORMS */

:disabled{
    opacity:0.5;
    cursor: not-allowed !important;
   
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
.form-control{
    width: 290px;
    height:60px;
            }
.form-label,.form-label-first{
    font-size:18px;
    margin-top:80px;
}

.form-label-first{
  
    margin-top:30px;
}

body{
    font-size: 13px;
}

            

                    }
                    /* end of query */



                                        
/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 768px){
 
 }

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
 

            }
/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 40px;
      margin-right:10px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: rgba(255, 174, 0, 0.438);
  }

  .radio-toolbar input:checked +label{
    background:rgba(236, 165, 11, 0.959);
  }
  
  .btn-primary{
      background:darkorange !important;
      color:black !important;
  }

  
  