body{
    font-family: 'Mulish', sans-serif !important;
    background: rgba(131, 123, 123, 0.144) !important;
}


.row-content{
margin-top:40px;
}
    
.main-heading{
 color:black;
}    

.NO-COVID{
    margin-left:20px;
    margin-right:20px;
    background: rgba(8, 179, 8, 0.664);
    margin-top:10px;
    border: solid 3px rgba(16, 153, 16, 0.568);
    padding:2px;
    border-radius:10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);  
}
.no-covid{
    font-weight:bold;
    padding-top:3px;
    padding-left:5px;
    font-size:25px;

}
.btn-dark{
   
    margin-left:10px;
    height:35px !important;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);  
}
.no-covid-caption{
    padding:6px;
   
 
    font-size:15px;

}

.filter-body{
    /* background: rgba(10, 10, 122, 0.247); */
    /* border:solid 2px; */
    background: white;
    border-radius:10px;
    padding:14px;
    margin-top:10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);  
}

.filter-label{
    color:rgb(4, 4, 53);
    
}
select{
    width:100px;
}
.filter-sumbit{
    margin-top: 20px;
    color:white;
    background: rgba(10, 10, 122, 0.603)!important;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);
}


/* cards */


.profile-pic{
    margin-top:10px;
    width:140px;    
    padding-left:2px;

}
.profile-btn{
margin-left:10px;
margin-top:15px;
}


.match-card{
    padding:10px;
    margin-top:30px;
    background:white;
    border-radius:20px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);
}

/* .card-map{
    background:rgb(64, 119, 138);
    height:150px;
} */

.answer{
    color:rgb(17, 36, 88);
    font-weight: bold;
    font-size:20px;
}

.qs{
    font-size:20px;
    color: black;
}
.connected-qs{
    background:rgba(77, 219, 12, 0.596);

    border-radius:10px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.171), 3px 3px 6px rgba(0, 0, 0, 0.452);
}

.map{
    width:250px;
    height:200px;
}