{% extends "base.html" %}
{%block content%}


<head>
    <title>Profile </title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/donor-profile.css') }}">

</head>


<body>
    <div class="container">
        <div class="header-profile">

        <div class="profile">
            <img class="profile-pic" src="{{ url_for('static',filename='images/Default.jpg') }} ">
        </div>

       
            <div class="row">
                <div class="col-12">
                    <h3 class="user-name">Ayush Verma</h3>
                </div>

 
            </div>


             <div class="row">
              
                 <div class="col-4 col-lg-2">
                    <div class=" contactme "><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Once your donor accepts your request, you will be able to see his personal information such as mobile number" >Connect <span class="fa fa-plus"></span> </button></div>
                 </div>
                 <div class="col-4 col-lg-2">
                    <div class=" report-donor "><button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="This is to report the donor if he is asking for money. ">Report <span class="fa fa-warning"></span> </button></div>
                 </div>
             </div>
                

        
            </div> 

            <div class="row">
                <div class="offset-lg-9 col-lg-3 offset-8 col-4">
                    <div class="donor"><span class="badge badge-success">DONOR <span class="fa fa-check-circle"></span></span></div>
                </div>
              
            </div>
            <!-- end of header -->



        <div class="bio-heading">
            <div class="row">
                <div class="col-12">
                    <div class="heading-bio">About Ayush</div>
                </div>
            </div>
        </div>

    

    <div class="bio">
        <div class="row last-tested">
            <div class="col-12 ">
                <span class="last-tested-label">Last Tested Negative: </span><span class="last-tested-answer">2 weeks ago</span>
            </div>
        </div>
        <div class="row">
           
                <div class="col-12 Donor-home">
                    <span class="fa fa-map-marker donor-home"><span class="house"> Lives in:</span> <span class="house-answer">Noida, Uttar Pradesh, India</span> </span>
         
            </div>
        </div>


          <div class="row">
            <div class="col-12 Donor-cancer">
                <span style="color:rgba(42, 60, 158, 0.76)" class="fa fa-ambulance donor-cancer"><span class="cancer"> Cancer Patient:</span> <span class="cancer-answer">No</span> </span>
            </div>
        </div>
        

        <div class="row">
            
                <div class="col-12 Donor-mobile">
                    <span style="color:rgba(29, 11, 4, 0.76)" class="fa fa-mobile donor-mobile"><span class="mobile-phone">  Contact :</span> <span class="mobile-answer">9650844842</span> </span>
                </div>
  
        </div>


        <div class="row">
            <div class="col-12 Donor-liver">
                <span style="color:rgba(241, 0, 0, 0.76)" class="fa fa-heart donor-liver"><span class="heart"> Liver Patient:</span> <span class="liver-answer">NO</span> </span>
            </div>

        </div>


        <div class="row">
           
                <div class="col-12 Donor-age">
                    <span class="fa fa-user donor-age"><span class="age"> Age:</span> <span class="age-answer">18</span> </span>
                </div>
    
        </div>

        <div class="row">
            <div class="col-12 Donor-pregnant">
                <span style="color:rgba(250, 0, 154, 0.76)" class="fa fa-female donor-pregnant"><span class="female"> Pregnant:</span> <span class="pregnant-answer">NO</span> </span>
            </div>

        </div>
        
        <div class="row">
        
                <div class="col-12 Donor-blood">
                    <span style="color:rgba(214, 16, 16, 0.76)" class="fa fa-tint donor-blood"><span class="blood-group"> Blood Group:</span> <span class="blood-answer">O+</span> </span>
                </div>
        </div>
        
        <div class="row">
            <div class="col-12 Donor-weight">
                <span class="fa fa-th donor-weight "><span class="weight"> Weight:</span> <span class="weight-answer">50 kg</span> </span>
            </div>
        </div>


        <div class="row last-tested">
            <div class="col-12">
                <span class="last-tested-label">Additional Information: </span><span class="last-tested-answer">Suger</span>
            </div>
        </div>
    </div>





    <div class="bio-heading">
        <div class="row">
            <div class="col-12">
                <div class="heading-bio">Previous Records</div>
            </div>
        </div>
    </div>

<div class="container">
    <div class ="history">

      <div class="row">
          <div class="col-12 donor-history">
              <h3>Number of Plasma Donation done: <span style="color:rgb(3, 49, 3)"> 0 </span></h3> 
          </div>
      </div>
    </div>
 </div>

    </div>
</body>

<script> $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })</script>
{% endblock %}